<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nationality Add Form</title>
</head>
<body>
<center>
<h2>Add New Nationality</h2>
<form action="#" th:action="@{/nationality/submit}" th:object="${nationality}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error></td>
        </tr>
        <tr>
            <td> Population</td>
            <td><input type="number" step="0.1" th:field="*{population}"></td>
            <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}"> Population Error</td>
        </tr>
        <tr>
            <td><button type="submit"> Submit</button></td>
            <td><button type="reset">Reset</button></td>
        </tr>
    </table>
    <footer th:insert="fragments/footer.html ::footer"></footer>
</form>
</center>
</body>
</html>